# fil#!/usr/bin/env python2.7
# -*- coding: utf-8 -*-

# -----------------------------------------------------------------------------
# ------------------- BASIC CONFIGURATION -------------------------------------
# -----------------------------------------------------------------------------

# inserite qui il Token segreto del BOT Telegram
TELEGRAM_BOT_TOKEN = "fffffffffffffffffffffffffffffffffff"

# path completo della cartella contenente le immagini (un esempio:)
IMAGES_PATH = "/Volumes/images/cctv"

# l'intervallo di tempo minimo (in secondi) che deve trascorrere da un messagio ed il successivo
SEND_SECONDS = 60

# tempo necessario all'invio delle immagini di tutte le camere prima del time-out
SEND_ONDEMAND_TIMOUT = 18

# -----------------------------------------------------------------------------
# ------------------- CHAT USERS ----------------------------------------------
# -----------------------------------------------------------------------------

# user 01
user01 = dict()
user01['name'] = 'Mario'
user01['telegram_id'] = '111111111'
user01['push'] = True

# user 02
user02 = dict()
user02['name'] = 'Alice'
user02['telegram_id'] = '22222222'
user02['push'] = False

users = (user01, user02)

# -----------------------------------------------------------------------------
# ------------------- CAMERE CONFIGURATION ------------------------------------
# -----------------------------------------------------------------------------

# camera 01
camera01 = dict()
camera01['id'] = 'ingresso'
camera01['model'] = 'D-Link DCS-932LB'
camera01['ip'] = '127.0.0.2'
camera01['port'] = '80'
camera01['user'] = 'user'
camera01['pwd'] = 'pwd'
camera01['url_send_jpg_to_folder'] = '/setTestFTP?ReplySuccessPage=replyu.htm&FTPServerTest=+Test+'
camera01['url_motion_detection_off'] = ﻿'/setSystemMotion?﻿ReplySuccessPage=motion.htm&ReplyErrorPage=motion.htm&MotionDetectionEnable=0&MotionDetectionScheduleDay=62&ConfigSystemMotion=Save'
camera01['url_motion_detection_on'] = '/setSystemMotion?﻿ReplySuccessPage=motion.htm&ReplyErrorPage=motion.htm&MotionDetectionEnable=1&MotionDetectionScheduleDay=62&MotionDetectionScheduleMode=0&MotionDetectionSensitivity=65&ConfigSystemMotion=Save'
camera01['url_night_mode_auto'] = '/setDayNightMode?ReplySuccessPage=night.htm&ReplyErrorPage=errrnght.htm&LightSensorControl=3&DayNightMode=0&ConfigDayNightMode=Save'
camera01['url_night_mode_off'] = '/setDayNightMode?ReplySuccessPage=night.htm&ReplyErrorPage=errrnght.htm&LightSensorControl=3&DayNightMode=2&ConfigDayNightMode=Save'
camera01['url_night_mode_on'] = '/setDayNightMode?ReplySuccessPage=night.htm&ReplyErrorPage=errrnght.htm&LightSensorControl=3&DayNightMode=3&ConfigDayNightMode=Save'

# camera 02
camera02 = dict()
camera02['id'] = 'sala'
camera02['model'] = 'D-Link DCS-932LB'
camera02['ip'] = '127.0.0.3'
camera02['port'] = '80'
camera02['user'] = 'user'
camera02['pwd'] = 'pwd'
camera02['url_send_jpg_to_folder'] = '/setTestFTP?ReplySuccessPage=replyu.htm&FTPServerTest=+Test+'
camera02['url_motion_detection_off'] =  '/setSystemMotion?﻿ReplySuccessPage=motion.htm&ReplyErrorPage=motion.htm&MotionDetectionEnable=0&MotionDetectionScheduleDay=62&ConfigSystemMotion=Save'
camera02['url_motion_detection_on'] = '/setSystemMotion?﻿ReplySuccessPage=motion.htm&ReplyErrorPage=motion.htm&MotionDetectionEnable=1&MotionDetectionScheduleDay=62&MotionDetectionScheduleMode=0&MotionDetectionSensitivity=65&ConfigSystemMotion=Save'
camera02['url_night_mode_auto'] = '/setDayNightMode?ReplySuccessPage=night.htm&ReplyErrorPage=errrnght.htm&LightSensorControl=3&DayNightMode=0&ConfigDayNightMode=Save'
camera02['url_night_mode_off'] = '/setDayNightMode?ReplySuccessPage=night.htm&ReplyErrorPage=errrnght.htm&LightSensorControl=3&DayNightMode=2&ConfigDayNightMode=Save'
camera02['url_night_mode_on'] = '/setDayNightMode?ReplySuccessPage=night.htm&ReplyErrorPage=errrnght.htm&LightSensorControl=3&DayNightMode=3&ConfigDayNightMode=Save'

camere = (camera01, camera02)