# fil#!/usr/bin/env python2.7

# camera 01
camera01 = dict()
camera01['id'] = 'sala'
camera01['desc'] = 'D-Link DCS-932LB'
camera01['ip'] = '192.168.0.1'
camera01['port'] = '80'
camera01['user'] = 'admin'
camera01['pwd'] = 'admin'
camera01['url_send_jpg_to_folder'] = '/setTestFTP?ReplySuccessPage=replyu.htm&FTPServerTest=+Test+'

# camera 02
camera02 = dict()
camera02['id'] = 'sala'
camera02['desc'] = 'D-Link DCS-932LB'
camera02[2'ip'] = '192.168..2'
camera02['port'] = '80'
camera02['user'] = 'admin'
camera02['pwd'] = 'admin'
camera02['url_send_jpg_to_folder'] = '/setTestFTP?ReplySuccessPage=replyu.htm&FTPServerTest=+Test+'

camere = (camera01, camera02)